@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
}

::selection {
    background-color: #D97706;
    color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #FFFBEB;
}

::-webkit-scrollbar-thumb {
    background: #4A2C2A;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #D97706;
}
