
-- Add Branches table
CREATE TABLE IF NOT EXISTS branches (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    address TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Modify Admin table to support roles and branches
ALTER TABLE admin ADD COLUMN role ENUM('superadmin', 'admin_cabang') DEFAULT 'superadmin';
ALTER TABLE admin ADD COLUMN branch_id INT NULL;
ALTER TABLE admin ADD FOREIGN KEY (branch_id) REFERENCES branches(id) ON DELETE SET NULL;

-- Modify Orders table to support branches
ALTER TABLE orders ADD COLUMN branch_id INT NULL;
ALTER TABLE orders ADD FOREIGN KEY (branch_id) REFERENCES branches(id) ON DELETE SET NULL;

-- Insert some initial branches based on location.php
INSERT INTO branches (name, address) VALUES 
('Brosuli Boyolali (Utama)', 'Jl. Pandanaran No.275, Sidoharjo, Banaran, Kec. Boyolali'),
('Brosuli Mojosongo', 'Ruko Techno Park, Jl. Merdeka Timur, Mojosongo'),
('Brosuli Kartasura', 'Jl. Brigjen Katamso, Ngemplak, Kartasura');

